openapi: 3.0.0
info:
  title: HomeServices API
  description: A cross reference for front-to-back end development
  version: 1.0.0
servers:
  - url: https://homeservices.com/api
paths:
  /user:
    get:
      summary: get user object
      description: get user object
      parameters:
        - name: userID
          in: query
          description: user object
          required: true
          schema:
            type: integer
            description: user id
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGet'
        '401':
          description: user not found
      
  /user/validate:
    get:
      summary: Check if user exists before signup
      description: Check if user exists before signup
      parameters:
        - name: email
          in: query
          description: users email address
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  exists:
                    type: boolean
        '417':
          description: User already exists
          content:
            application/json:
              schema:
                properties:
                  exists:
                    type: boolean
                  pbkey:
                    type: string
          
  /user/refresh:
    post:
      summary: Refresh access token
      description: Get a new access token by providing a refresh token
      security:
        - bearerAuth: []
      parameters:
        - name: refresh_token
          in: query
          required: true
          description: Refresh token received during auth
          schema:
            type: object
            properties:
              refresh_token:
                type: string
      responses:
        '200':
          description: New access token and refresh token are sent to user
        '400':
          description: Invalid or expired refresh token
  /user/userCreate:
    post:
      summary: Create user
      description: Create a new user
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGet'
      responses:
        default:
          description: The operation was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGet'
  /user/login:
    post:
      summary: User login
      description: User login
      security:
        - bearerAuth: []
      operationId: loginUser
      parameters:
        - name: email
          in: query
          description: users email address
          required: true
          schema:
            type: string
            format: email
        - name: password
          in: query
          description: users password
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAuth'
        '400':
          description: Invalid username or password
  /user/updateUser/{userID}:
    put:
      summary: Update user information
      description: A logged in user may update their profile information
      operationId: updateUser
      parameters:
        - name: userID
          in: path
          description: username of the user to update
          required: true
          schema:
            type: string
      requestBody:
        description: Update existing user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGet'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGet'
        '401':
          description: Invalid input
  /user/resetPassword:
    post:
      summary: Reset the users forgotten password
      description: Reset the users forgotten password using email + sec qns
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPassword'
      responses:
        '200':
          description: Password has been reset
        '404':
          description: User not found
  
  /serviceRequest:
    post:
      summary: service request information
      description: submit a new application form from customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
      responses:
        '201':
          description: service request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequest'
        '401':
          description: application could not be submitted
          
    ##create 'getting server requests by user id'
    get:
      summary: get a list of service requests of users for a specific type
      parameters:
        - name: userID
          in: query
          description: user id
          required: true
          schema:
            type: integer
        - name: userType
          in: query
          description: user type
          required: true
          schema:
            $ref: '#/components/schemas/UserType'
      responses:
        '201':
          description: service request created
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/ServiceRequest'
    put:
      summary: update service request
      description: udpate service request
      requestBody:
        description: Update existing user object
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  example: 123
                password:
                  type: string
                  example: "Perplexed"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGet'
          description: service request updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequest'
                  
  /serviceRequest/available:
    get:
      summary: get available service requests for professinals
      parameters:
        - name: postcode
          in: query
          description: postcode
          required: true
          schema:
            type: string
      responses:
        '200':
          description: returns service requests
          content:
            application/json:
              schema:
                type: array
                items:
                #status request will be new, postcode will match input
                  $ref: '#/components/schemas/ServiceRequest'
                  
                  
  /serviceRequest/application:
    post: 
      summary: apply for a service request
      requestBody:
        description: send service request application
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestApplication'
      responses:
        '200':
          description: returns service request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequest'
    put:
      summary: select a professional
      requestBody:
        description: send service request application
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestApplication'
      responses:
        '200':
          description: returns service request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequest'


  
components:
  schemas:
    UserGet: # this will be the same as userSignUP because they require the same fields
      type: object
      properties:
        userID:
          type: integer #is this only going to be an integer?
          example: 1
        firstName:
          type: string
          example: Snoop
        lastName:
          type: string
          example: Dogg
        email:
          type: string
          format: email
          example: myemail@email.com
        password:
          type: string
          example: myPassword123!!
        mobile:
          type: string
          pattern: '^\d{10}$'
        address:
          $ref: '#/components/schemas/Address'
        userType:
          type: string
          enum:
            - Client
            - Tradesman
        membershipType:
          $ref: '#/components/schemas/MembershipType'
        CCin:
          $ref: '#/components/schemas/CreditCard'
        CCout:
          $ref: '#/components/schemas/CreditCard'
        securityQuestions:
          $ref: '#/components/schemas/SecurityQuestions'
    Address:
      type: object
      properties:
        streetName:
          type: string
          example: Sesame Street
        streetNumber:
          type: integer
          example: 7
        suburb:
          type: string
          example: Liverpool
        postcode:
          type: string
          example: 2170
      required:
        - streetName
        - streetNumber
        - suburb
        - postcode
    CreditCard:
      type: object
      properties:
        CCname:
          type: string
          example: John
        CCnumber:
          type: string
          pattern: ^[0-9]{16}$
          example: 1234 5678 9123 456
        CCsecurity:
          type: string
          pattern: ^[0-9]{3}$
          example: 123
    MembershipType:
      type: string
      enum:
        - Subscription
        - Pay on demand
    UserType:
      type: string
      enum:
        - Client
        - Professional
    Client: ##will have to ask ben about this
      type: object
      properties:
        membership:
          $ref: '#/components/schemas/MembershipType'
    Professional: ##will have to ask ben about this
      type: object
      properties: 
        user:
          $ref: '#/components/schemas/UserGet'
        client:
          $ref: '#/components/schemas/Client'
        profession: # <-- will have to discuss this with Matt or Ben
          $ref: '#/components/schemas/ProfessionalServices'
        CCin:
          $ref: '#/components/schemas/CreditCard'
        CCout:
          $ref: '#/components/schemas/CreditCard'
        securityQuestions: # <-- answers should be dealt with in backend I believe
          $ref: '#/components/schemas/SecurityQuestions'
    SecurityQuestions:
      type: array
      minItems: 3
      maxItems: 3
      items:
        type: string
        enum:
          - CAR
          - STREET
          - PET
          - BORN
          - NICKNAME
      description: >
        * 'CAR': What was your first car?
        * 'STREET': What was the name of the first street you lived on?
        * 'PET': What was the name of your first pet?
        * 'NICKNAME': What aws your childhood nickname?
    ResetPassword:
      type: object
      properties:
        email:
          type: string
          description: users email they used for signup
          format: email
        securityQuestions:
          $ref: '#/components/schemas/SecurityQuestions'
    ProfessionalServices:
      type: string
      enum:
        - TREE_REMOVAL
        - ROOF_CLEANING
        - FENCE_INSTALLATION
        - OVEN_REPAIRS
        - PLUMBING
      description: > 
        * 'TREE_REMOVAL': Tree Removal
        * 'ROOF_CLEANING': Roof Cleaning
        * 'FENCE_INSTALLATION: Fence Installation
        * 'OVEN_REPAIRS': Oven Repairs
        * 'PLUMBING': Plumbing
    Customer:
      type: object
      description: customer location information
      properties:
        userID:
          type: integer
          description: customers ID
        firstName: 
          type: string
          description: customer first name
        lastName: 
          type: string  
          description: customer last name
        email:
          type: string
          description: customer email
        mobile:
          type: string
          description: customer phone number
        address:
          $ref: '#/components/schemas/Address'
        userType:
          $ref: '#/components/schemas/UserType'
    
    ServiceRequestApplication:
      type: object
      properties:
        requestID:
          type: integer
          description: requestId associated
        applicationID:
          type: integer
        offerDate:
          type: string
          format: MM/DD/YYYY
        userID:
          type: integer
        cost:
          type: number
        applicationStatus:
          type: string
          
    ServiceRequest:
      type: object
      properties:
        requestID:
          type: integer
          description: unique identifier for service request
        requestDate:
          type: string
          description: The date the service request was created
          format: MM/DD/YYYY
        serviceType:
          type: string
          description: the service type
        requestStatus:
          type: string
          description: The status of the request
        jobDescription:
          type: string
          description: Job description
        postcode:
          type: integer
          description: postcode of the job
        professionalID:
          type: string
          description: Profesional Id that is assigned to service request
        applications:
          type: array
          items: 
            $ref: '#/components/schemas/ServiceRequestApplication'
          description: array of applications
  
      
    ResponseAuth:
      type: object
      properties:
        accesstoken:
          $ref: '#/components/schemas/AccessToken'
        refreshtoken:
          $ref: '#/components/schemas/RefreshToken'
      required:
        - accesstoken
        - refreshtoken
    
    RefreshToken: #userID+expiry needs to properties of both tokens since they will be treated separately
      type: object
      properties:
        refreshtoken:
          type: string
          description: Token required for reauthorisation 
        userID:
          type: string
          description: The user associated with this token
        expiry:
          type: string
          description: Value that dictates when the token is expired/invalidated
    AccessToken: #userID+expiry needs to properties of both tokens since they will be treated separately
      type: object
      properties:
        accesstoken:
          type: string
          description: Token required for querying resources server, obtained on authorizaiton
        userID:
          type: string
          description: The user associated with this token
        expiry:
          type: string
          description: Value that dictates when the token is expired/invalidated
    
      
      

    
##TOKENS
securityDefinitions:
  bearerAuth:
    type: http
    scheme: bearer
    description: Authentication token for obtaining tokens
  basicAuth:
    type: http
    scheme: bearer
    description: Authentication token for requests
